<div class="content" role="main">


    <a [routerLink]="['/login']">Logout</a>


    <button (click)="goToIndex()">Home page</button>
    <button (click)="goToProductList()">Product list</button>
    <button (click)="goToTransactions()">Transactions</button>

    <h1>Buyed products (from PostgreSQL)</h1>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of products">
                <td>{{product.name}}</td>
                <td>{{product.price}} HUF</td>
                
            </tr>
        </tbody>
    </table>
    


  
</div>
